<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food delivery System</title>
    <meta name="description" content="" />
    {% load static %}
    <link href="{% static 'polls/css/nouislider.min.css' %}" rel="stylesheet">

    {% load static %}
    <link href="{% static 'polls/css/bootstrap.min.css' %}" rel="stylesheet">
    {% load static %}
    <link href="{% static 'polls/css/style.css' %}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <header class="container-fluid header-background">
        <div class="row">
            <nav class="navbar navbar-default wakis-nav">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="material-icons">menu</i>
                        </button>
                       <a class="navbar-brand" href="#" >Online <span>Food Order</span></a></a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/polls/login_check/">Home</a></li>
                            <li><a href="/polls/track/">Track Orders</a></li>
                            <li><a href="/polls/">Sign Out</a></li>
                            <li><a href="#"><i class="material-icons">shopping_basket</i>CART  0 Items </span></a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>

        <div class="row text-center">
            <div class="col-sm-4 col-sm-offset-4 text-shadow">

                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="text-shadow text-uppercase">Place your order</h3>
                    </div>
                </div>

                <div class="row order-progress">
                    <div class="col-xs-4 bold">
                        <i class="material-icons">check_box</i>
                        <br />
                        Confirm Cart
                        <span class="progress-line-right hidden-sm hidden-xs"></span>
                    </div>
                    <div class="col-xs-4">
                        <span class="progress-line-left hidden-sm hidden-xs"></span>
                        <i class="material-icons">check_box_outline_blank</i>
                        <br />
                       Pay
                        <span class="progress-line-right hidden-sm hidden-xs"></span>
                    </div>
                    <div class="col-xs-4">
                        <span class="progress-line-left hidden-sm hidden-xs"></span>
                        <i class="material-icons">check_box_outline_blank</i>
                        <br />
                       Done
                    </div>
                </div>

            </div>
        </div>


    </header>

    <main class="main">
        <div class="wrap">
            <div class="container">
                <div class="row top-30">

                    <div class="col-sm-15 hidden-xs pad-0-30">
                        <div class="row white-back-grey-border">
                            <div class="col-xs-12">
                                <div class="row filter-head">
                                    <div class="col-xs-12">
                                        <h5 class="bold">Ordered Items <i class="material-icons wakis-primary-txt pull-right">shopping_basket</i></h5>
                                    </div>
                                </div>


                                <div class="row top-30">
                                    <div class="col-xs-15">
                                        <ul class="fa-ul cart-items">
                                    {% if cart_contains %}
                                        {% for cc in cart_contains %}
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <h5 class="bold">{{cc.item.i_name}}</h5>
                                                        <p> Quantity : {{cc.quan.quantity}} Restaurant : {{cc.quan.restaurant_id.r_name}}</p>
                                                    </div>
                                                    <div class="col-md-3 order-price text-right">
                                                        {{cc.tot}}
                                                    </div>
                                                    <div class="col-md-3 order-price text-right">
                                                    <a href="/polls/remove/{{cc.quan.cart_item_id}}" class="btn btn-primary btn-sm text-uppercase down-30"> remove item</a>
                                                    </div>
                                                </div>

                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <p>No Items selected</p>
                                    {% endif %}

                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 pad-0-30">
                                        <table class="table table-condensed table-striped">
                                        {% if tot_cost %}    
                                            <tr>
                                                <td class="bold">Order Total</td>
                                                <td class="text-right">{{tot_cost}}</td>
                                            </tr>
                                            <tr>
                                                <td class="bold">Charges</td>
                                                <td class="text-right">100.00</td>
                                            </tr>
                                            <tr>
                                                <td class="bold">Net Amount</td>
                                                <td class="text-right">{{charges}}</td>
                                            </tr>
                                        {%else%}
                                            <tr>
                                                <td class="bold">Order Total</td>
                                                <td class="text-right">0</td>
                                            </tr>
                                            <tr>
                                                <td class="bold">Charges</td>
                                                <td class="text-right">0</td>
                                            </tr>
                                            <tr>
                                                <td class="bold">Net Amount</td>
                                                <td class="text-right">0</td>
                                            </tr>
                                        {%endif%}
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                    {% if tot_cost %}
                                        <a href="/polls/confirm_cart/" class="btn btn-primary btn-sm text-uppercase down-30"> Confirm cart</a>
                                    {%else%}
                                        <a href="/polls/confirm_cart/" class="btn disabled btn-primary btn-sm text-uppercase down-30"> Confirm cart</a>
                                    {%endif%}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>



    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {% load static %}
    <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'polls/slick/slick.min.js' %}"></script>

    <!-- Slider -->
    <script type="text/javascript">



        $(window).scroll(function () {
            var sc = $(window).scrollTop()
            if (sc > 50) {
                $(".wakis-nav").addClass("fixed-header")
            } else {
                $(".wakis-nav").removeClass("fixed-header")
            }
        });

        var selected = [];

        $("input[name = 'filter_category']").change(function () {
            $(this).next('.filter-checkbox').html('check_box_outline_blank');
            $("input[name = 'filter_category']:checked").each(function () {
                $(this).next('.filter-checkbox').html('check_box');
            });

        });

        $("input[name = 'order']").change(function () {
            $(this).next('.order-radio').html('radio_button_unchecked');
            $("input[name='order']:checked").each(function () {
                if ($(this).is(':checked')) {
                    $(this).next('.order-radio').html('radio_button_checked');
                }
                else {
                    $(this).next('.order-radio').html('radio_button_unchecked');
                }
            });


        });

    </script>
</body>
</html>