<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food delivery System</title>
    <meta name="description" content="" />
 
    {% load static %}
    <link href="{% static 'polls/css/bootstrap.min.css' %}" rel="stylesheet">

    {% load static %}
    <link href="{% static 'polls/css/style.css' %}" rel="stylesheet">
   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    
</head>

<body>
    <header class="container-fluid header-background">
        <div class="row">
            <nav class="navbar navbar-default wakis-nav">
                <div class="container">
                    <div class="navbar-header" >
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="material-icons">menu</i>
                        </button>
                        <a class="navbar-brand" href="#" >Online <span>Food Order</span></a></a>
                    </div>
                    


                
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="">Home</a></li>
                            <li><a href="/polls/track/">Track Orders</a></li>
                            <li><a href="/polls/">Sign Out</a></li>
                            <li><a href="/polls/cart/"><i class="material-icons">shopping_basket</i>CART  {{cart_items_count}} Items </a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <!--
        <form action="{% url 'rest_by_name'%}" method="post">
        {% csrf_token %}            
        <div class="row text-center">
            <div class="col-sm-6">
                 <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group search-bar">
                              <input type="search" class="form-control input-lg" name="rest_city" placeholder="Type a Location or Restaurant or Food">
                            <span class="input-group-btn">
                                <button class="btn btn-lg btn-default" type="submit button"><i class="material-icons">search</i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        </form>
        -->
    </header>

    <main class="main">
        <div class="wrap">
            <div class="container">
                <div class="row top-30">

                    <div class="col-sm-15 hidden-xs pad-0-30">
                        <div class="row white-back-grey-border">
                            <div class="col-xs-12">
                   	{% for c in city_list %}
                   		{% if c.city_id|divisibleby:4 %}
                            <a href="/polls/rest_by_city/{{c.city_id}}/" class="btn btn-primary btn-sm text-uppercase down-30 top-30 " style=" margin-left :80px;margin-right: 30px;width:150px"> {{c.city_name}}</a>
                           	<br/>
                        {%else%}
                            <a href="/polls/rest_by_city/{{c.city_id}}/" class="btn btn-primary btn-sm text-uppercase down-30 top-30 " style=" margin-left :80px; margin-right: 30px;width:150px"> {{c.city_name}}</a>
                        {%endif%}
                    {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>